.newImage {
  width: 304px;
  height: 228px;
}

.carouselWrap {
  margin-left: 40%;
  margin-right: auto;
  padding-top: 40px;
}

.socialButtons {
  float: right;
  padding-right: 6px;
}

.socialLinks {
  float: right;
  padding-right: 35px;
}
