<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'entertainment'}}Entertainment{{/link-to}}</li>
      <li>{{#link-to 'crime'}}Crime{{/link-to}}</li>
      <li>{{#link-to 'kardashians'}}Kardashians{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
