<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'headlines'}}Home{{/link-to}}</li>
      <li>{{#link-to ''}}Entertainment{{/link-to}}</li>
      <li>{{#link-to ''}}Crime{{/link-to}}</li>
      <li>{{#link-to ''}}Kardashians{{/link-to}}</li>
    </ul>

    <div class='socialButtons' {{action 'toggleMenu' on="mouseEnter"}}>
      <img src="img/hamburger.png">
      <img src="img/kitty.gif">
      <img src="img/sushi.gif">
    </div>
  </nav>


  {{#if showMenu}}
  <div class="socialLinks">
    <ul>
      <li>Burgerzone</li>
      <li>Kittygram</li>
      <li>Sushibook</li>
    </ul>
  </div>
  {{/if}}

  {{outlet}}
</div>
