<h1>HEADLINES</h1>

<br>
<a href="#">
  <img src="http://www.worn.cz/public/files/092/146198-tumblr_n3811fzz1Z1rssouco1_500.jpg" style="width:304px;height:228px">
  <br>
<h2>Tyler grows hair out and rocks a solid man-bun. All women very impressed and attracted.</a></h2>

<br>
<a href="#">
  <img src="http://entertainment.ie/images_content/JTRO_BEARD1(2).jpg" style="width:304px;height:228px">
  <br>
<h2>Bad facial hair in style? Not at all, experts say.</a></h2>
<br>

<a href="#">
  <img src="http://www.hotelchatter.com/files/admin/portlandhood.jpg" style="width:304px;height:228px">
  <br>
<h2>BREAKING NEWS: Portland is hip, hipsters finally say.</a></h2>
<br>

<a href="#">
  <img src="http://cgrapechef.com/wp-content/uploads/FruitGranolaYogurtParfait.png" style="width:304px;height:228px">
  <br>
<h2>13 different ways to eat organic granola. Number 7 may surprise you!</a></h2>
